<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean class="spring.ioc.springxml.Cat" id="murka">
        <constructor-arg name = "name" value="Murka"/>
        <property name="voice" value="Mmrrr!"/>
    </bean>

    <bean class="spring.ioc.springxml.Cat" id="barsik">
        <constructor-arg name = "name" value="Barsik"/>
    </bean>

</beans>